<aside id="sidebar">
    <a class="sidebar-toggle" title="Expand Sidebar"><i class="toggle icon"></i></a>
    <div class="sidebar-top">
        <p><%= __('sidebar.follow') %>:</p>
        <ul class="social-links">
            <% for (var i in theme.customize.social_links) { %>
                <% if (theme.customize.social_links[i]) { %>
                    <li>
                        <a class="social-tooltip" title="<%= i %>"
                           href="<%- url_for(theme.customize.social_links[i]) %>" target="_blank" rel="noopener">
                            <i class="icon fa fa-<%= i %>"></i>
                        </a>
                    </li>
                <% } %>
            <% } %>
        </ul>
    </div>
    <% if (is_post()) { %>
        <%- partial('post/nav', {post: page}) %>
    <% } %>
    <div class="widgets-container">
        <% if (theme.widgets) { %>
            <% theme.widgets.forEach(function(widget) { %>
                <!-- 如果是在文章中，就只显示toc小部件（目录） -->
                <% if (is_post() && widget == 'toc') { %>
                    <%- partial('widget/' + widget, {post: page}) %>
                <% } else if (is_post()) { %>
                <% } else { %>
                    <%- partial('widget/' + widget, {post: page}) %>
                <% } %>
            <% }) %>
        <% } %>
    </div>
    <% if (is_post()) { %>
        <!-- 目录固定 -->
        <script type="text/javascript" src="/js/fix_toc.js"></script>
    <% } %>
</aside>
