<%- partial('common/head') %>
<body>
    <div id="wrap">
        <%- partial('common/header', null, {cache: !config.relative_link}) %>
        <div class="container">
            <div class="main-body container-inner">
                <div class="main-body-inner">
                    <section id="main">
                        <%- partial('common/content-title') %>
                        <div class="main-body-content">
                            <%- body %>
                        </div>
                    </section>
                    <%- partial('common/sidebar') %>
                </div>
            </div>
        </div>
        <%- partial('common/footer', null, {cache: !config.relative_link}) %>
        <%- partial('common/scripts') %>
    </div>
    <!-- 动态背景 -->
    <% if (theme.canvas_nest) {%>
    <script type="text/javascript" src="//cdn.bootcss.com/canvas-nest.js/1.0.0/canvas-nest.min.js"></script>
    <% } %>
    <!-- 动态背景 == end -->
</body>
<!--崩溃欺骗-->
<script type="text/javascript" src="/js/crash_cheat.js"></script>
</html>
